# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\albif\Desktop\Winter 21\ECE 435\Java Projects\Practise_ecercise_2_JSONparsing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
